.nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
}

.nav p {
    margin: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .nav {
        padding: 0.6em 0;
    }
    .buttons {
        display: none;
    }
}