.friend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2em;
    border: 2px solid #ff6347;
    border-radius: 0 5em 0 5em;
    cursor: pointer;
}

.friend img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

.friend:hover,
.friend:focus {
    border-color: #b14634;
}