/* Logo */
.brand {
    font-family: 'Balsamiq Sans', cursive;
    color: #ff6347;
    text-align: center;
    font-size: 2em;
}

.brand span {
    font-family: 'calibri', sans-serif;
    font-weight: 200;
}